html, body {
  height: 100%;
  margin: 0;
  padding:0;
  font-family: Arial, sans-serif;
  overflow-y: scroll;
}

body {
  min-height: 100vh;  /* This ensures the body is at least the height of the viewport */
  background: linear-gradient(to bottom right, rgba(175, 202, 227, 0.989), rgba(255, 255, 255, 0.5));
  background-attachment: fixed; /* This will fix the background relative to the viewport */
  background-repeat: no-repeat; /* Prevents the background from repeating */
}


:root {
  --bg-boxes:rgba(229, 248, 255, 0.949);
  --boxes-shadow:0 0 0 3px rgba(0, 0, 139, 0.6),
  0 4px 6px rgba(0, 0, 0, 0.1);
  --box-highlight:#03528b;
}



.headline {
  text-align:center;
}
.title {
  display: inline-block;
  padding-left:2vw;
  padding-top:2vh;
  }


.box {
  background-color:var(--bg-boxes);
  margin: 0 auto;
  border-radius:1vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.word-box {
  padding:2vw; 
  text-align: center; 
  width:97%;
  font-size:2vw;
  margin-top:2vh;
  border:0.2vh solid var(--box-highlight);
}
.biography-box {
  border-left: 5px solid var(--box-highlight); /* Dark greenish-blue border */
  padding: 20px;
  margin: 20px 10px 20px;
  border-radius: 5px;
}

.chat-bar {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
  gap:1vw; /* Space between items */
  padding:1vw;
  width: auto; /* Adjust width as needed */
}

.chat-bar input[type="text"] {
  height:5vh; /* Set a fixed height */
  font-size:2vw;
  border: 2px solid #ccc; /* Light grey border */
  border-radius: 5px; /* Rounded corners */
  padding: 0 1vw; /* Padding inside the text field */
  flex-grow: 1; /* Allows the text field to grow */
}

.timer {
  background-color:rgba(127, 255, 212, 0.5);
  width:6vw;
  display:inline-block;
  border-radius:1vh;
  padding:0.2vw;
  font-size:2vw;
  text-align:center;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-with-suffix {
  padding-right: 20px;
}

.suffix {
  position: absolute;
  right: 5px; 
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: grey;
  pointer-events: none; /* Makes the suffix non-interactive */
}

.navbar {
  display: flex;
  justify-content: flex-end;
  font-size:2.3vh;
}

.custom-nav-link {
  position: relative;
  transition: color 0.3s;
  width:fit-content;
  
}

.custom-nav-link:hover {
  color: #007bff; /* Bootstrap primary color */
}

.custom-nav-link::after {
  content: '';
  display: block;
  width:0;
  height: 2px;
  background: blue;
  transition: width 0.3s;
}

.custom-nav-link:hover::after {
  width:100%
}

.custom-nav-link.active {
  pointer-events: none;
  color: gray;
}

a.dropdown-item:active{ background-color: white; }

.card {
  position: relative; /* Needed for absolute positioning of the pseudo-element */
  padding: 1rem;
  width: 200px;
  height: 250px; /* Adjusted to a more reasonable height */
  overflow: hidden; /* Ensures no content spills out */
}
.card-img-top {
  width: 100%;  /* Makes image take full width of the card */
  height: 150px; /* Fixed height for all images */
  object-fit: cover; /* Ensures image covers the area without distorting */
  object-position: center; /* Centers the image within the element */
}

.card-body {
  height: calc(100px - 1rem); /* Remaining height after accounting for the image and padding */
  overflow: auto; /* Adds scroll if content overflows */
}


.card:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); /* White overlay with 20% opacity */
  pointer-events: none; /* Ignore pointer events to allow interaction with card contents */
}



.showFig {
  width:50vw;
  height:auto;
  justify-content:center;
  border-radius:0.5vw;
}


.carousel-caption-custom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--box-highlight);
  transition: bottom 0.5s ease;
  display:"flex";
  justify-content:flex-end;
}
.carousel-title {
  margin: 0;
  transition: transform 0.5s ease;
  bottom:0;
}

.carousel-item-custom {
  position: relative;
  overflow: hidden;
}

.carousel-description {
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  bottom:0;
  right: 0;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease, bottom 0.5s ease;
}

.carousel-item-custom:hover .carousel-title {
  transform: translateY(-50%);
}

.carousel-item-custom:hover .carousel-description {
  opacity: 1;
}

.button-icon {
  display: inline-block; 
  padding: 8px;           
  transition: transform 0.3s ease, color 0.3s ease; 
  text-decoration: none; 
  color: black;          
}

.button-icon:hover, .button-icon:focus {
  color: #007bff;        
  transform: scale(1.1); 
  cursor: pointer; 
}